@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto&display=swap%27");
.footer__section {
  max-width: 1170px;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22px;
  padding-top: 40px;
}
.footer__section .section__part {
  margin: 15px;
  padding-top: 20px;
  line-height: 2;
}
.footer__section .section__part li {
  font-weight: 400;
  color: #3a3a3a;
}
.footer__section .section__part li h3 {
  color: #333;
  font-weight: 600;
}
.footer__section .section__part .icons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
}
.footer__section .section__part .icons a {
  background-color: white;
  border-radius: 40%;
  display: inline-block;
  width: 48px;
  height: 48px;
  display: grid;
  align-content: center;
  justify-content: center;
}
.footer__section .section__part .icons a:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .footer__section {
    margin: 30px auto;
    width: 760px;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__section .tablet__part {
    line-height: 2.5;
  }
}
@media screen and (max-width: 767px) {
  .footer__section {
    width: 90%;
    margin: 20px;
    padding: 30px;
    grid-template-columns: 1fr;
  }
}
.nav_container {
  max-width: 1170px;
  margin: 0 auto 40px auto;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 130px;
}
.navbar__main .nav_list {
  display: flex;
}
.navbar__main .nav_list li a {
  display: block;
  padding: 10px 15px;
  color: #3a3a3a;
  font-weight: 600;
}
.navbar__main .nav_list li a:hover {
  color: #fe7865;
}
.navbar__main .nav_list li a.active {
  color: #fe7865;
}
.navbar__main .mobile_menu {
  display: none;
}
.navbar__main .hamburger {
  display: none;
}
@media screen and (max-width: 991px) {
  .navbar__main .nav__menubar {
    position: absolute;
    top: 70%;
    background: white;
    left: 13%;
    width: 75%;
  }
  .navbar__main .nav__menubar li {
    font-size: 1rem;
  }
  .navbar__main .nav__menubar li a:hover {
    color: #fe7865;
  }
  .navbar__main .nav__menu {
    display: none;
  }
  .navbar__main .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 70px;
  }
  .navbar__main .nav_list {
    flex-direction: column;
  }
  .navbar__main .logo {
    margin-left: 120px;
  }
}
@media screen and (max-width: 767px) {
  .navbar__main .logo {
    margin-left: 70px;
  }
  .navbar__main .hamburger {
    margin-right: 45px;
  }
}

.blog__container {
  max-width: 1170px;
  margin: 0 auto;
}
.blog__container .blog__head {
  text-align: center;
  margin-bottom: 65px;
}
.blog__container .blog__head h3 {
  font-weight: 600;
  font-size: 32px;
  color: #333;
  margin-bottom: 15px;
  color: #333;
}
.blog__container .blog__head p {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  text-align: center;
}
.blog__container .blog__body {
  display: flex;
  justify-content: center;
  gap: 22px;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.blog__container .blog__body .body__section {
  border: 1px solid rgb(216, 211, 211);
  position: relative;
}
.blog__container .blog__body .body__section .profile_img {
  width: 100%;
  overflow: hidden;
}
.blog__container .blog__body .body__section .profile_img img {
  width: 100%;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.blog__container .blog__body .body__section .profile_img img:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}
.blog__container .blog__body .body__section .content {
  padding: 20px 35px 25px;
  line-height: 36px;
}
.blog__container .blog__body .body__section .content h4 {
  color: #333;
  font: 20px;
  font-weight: 600;
}
.blog__container .blog__body .body__section .content span {
  display: inline-block;
  color: #3a3a3a;
  font-size: 16px;
  font-style: italic;
}
.blog__container .blog__body .body__section .content .profile_desc {
  border-top: 1px solid rgb(216, 211, 211);
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  font-size: 16px;
  padding: 10px;
}
.blog__container .blog__body .body__section .content .profile_desc img {
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .blog__body .body__section {
    width: 485px;
  }
}
@media screen and (max-width: 510px) {
  .blog__body .body__section {
    width: 300px;
  }
}
.hero_section {
  max-width: 1170px;
  display: flex;
  gap: 15%;
}
.hero_section .banner_section {
  width: 50%;
}
.hero_section .banner_section img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.hero_section .banner_section .banner__circle {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #fe7865;
  top: -80%;
  left: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero_section .banner_section .banner__circle p {
  display: block;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.hero_section .banner_desc h1 {
  font-size: 92px;
  font-weight: 600;
  color: #333;
}
.hero_section .banner_desc p {
  font-size: 16px;
  margin: 0 0 25px;
  color: #3a3a3a;
  line-height: 24px;
}
.hero_section .banner_desc .social_media ul {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 50px);
}
.hero_section .banner_desc .social_media ul a {
  background-color: rgb(214, 214, 214);
  border-radius: 40%;
  display: inline-block;
  width: 30px;
  height: 30px;
  display: grid;
  align-content: center;
  justify-content: center;
}
.hero_section .banner_desc .social_media ul a:hover {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .hero_section {
    padding: 25px;
  }
  .hero_section .banner_section img {
    display: block;
    max-width: 100%;
  }
  .hero_section .banner_desc h1 {
    font-size: 75px;
  }
}
@media screen and (max-width: 767px) {
  .hero_section .banner_section {
    display: none;
  }
  .hero_section .banner_desc {
    justify-content: center;
  }
  .hero_section .banner_desc h1 {
    font-size: 45px;
  }
  .hero_section .banner_desc p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 512px) {
  .banner_desc {
    padding: 1rem;
  }
  .banner_desc h1 {
    font-size: 35px;
  }
}
.productpage__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1170px;
  gap: 35px;
}
.productpage__wrapper .productpage__collection {
  width: 280px;
  border: 1px solid gainsboro;
  margin-bottom: 25px;
}
.productpage__wrapper .productpage__collection h4 {
  background-color: #eeeeee;
  padding: 1em;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.productpage__wrapper .productpage__collection .productpage__collectionlist {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 58px;
}
.productpage__wrapper .productpage__collection .productpage__collectionlist a {
  text-decoration: none;
  border: 1px solid gainsboro;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  color: #777777;
  width: 100%;
  height: 60px;
}
.productpage__wrapper .productpage__collection .productpage__collectionlist a:focus {
  color: white;
  background-color: #fe7865;
  border-color: #fe7865;
}
.productpage__wrapper .productpage__images {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  gap: 35px;
}
.productpage__wrapper .productpage__images .productpage__singleImage .product__image {
  width: 260px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.productpage__wrapper .productpage__images .productpage__singleImage .product__image img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}
.productpage__wrapper .productpage__images .productpage__singleImage .product__image img:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.5s ease;
}
.productpage__wrapper .productpage__images .productpage__singleImage .product__image .discount__badge {
  position: absolute;
  background-color: #fe7865;
  top: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  left: 200px;
  right: 10px;
}
.productpage__wrapper .productpage__images .productpage__singleImage .product__image .discount__badge p {
  color: white;
  font-size: 15px;
  margin-left: 0;
  margin-top: 13px;
  font-weight: bold;
}
.productpage__wrapper .productpage__images .productpage__singleImage h5 {
  font-size: 1.1rem;
}
.productpage__wrapper .productpage__images .productpage__singleImage ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fe7865;
}
.productpage__wrapper .productpage__images .productpage__singleImage span {
  color: #fe7865;
  font-weight: bold;
}

@media (min-width: 600px) and (max-width: 1135px) {
  .productpage__wrapper {
    justify-content: center;
  }
  .productpage__images .productpage__singleImage:last-child {
    display: none;
  }
}
@media (max-width: 600px) {
  .productpage__wrapper {
    display: block;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    margin-top: 70px;
  }
  .productpage__wrapper .productpage__collection {
    width: 100%;
    padding: 0px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .productpage__wrapper .productpage__images {
    width: 100%;
    padding: 0;
  }
  .productpage__wrapper .productpage__images .productpage__singleImage {
    width: 100%;
    padding: 0px 20px;
  }
  .productpage__wrapper .productpage__images .productpage__singleImage .product__image {
    width: 100%;
    height: auto;
    position: relative;
  }
  .productpage__wrapper .productpage__images .productpage__singleImage .product__image img {
    width: 100%;
  }
  .productpage__wrapper .productpage__images .productpage__singleImage .product__image .discount__badge {
    position: absolute;
    background-color: #fe7865;
    top: 10px;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    text-align: center;
    left: 200px;
  }
  .productpage__wrapper .productpage__images .productpage__singleImage .product__image .discount__badge p {
    color: white;
    font-size: 20px;
    margin-left: 0;
    margin-top: 15px;
    font-weight: bold;
  }
}
.servicespage__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 1170px;
  padding: 10px;
}

.servicepage__ourstory {
  grid-column: 2 span;
  margin-bottom: 4em;
  display: grid;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.servicepage__ourstory h5 {
  grid-column: 2 span;
  color: #fe7865;
  margin-left: 8em;
  font-size: 1rem;
  font-weight: bold;
}
.servicepage__ourstory h5::before {
  content: " ";
  display: block;
  height: 0.1em;
  width: 8em;
  position: relative;
  top: 0.9em;
  left: -8em;
  background: #fe7865;
  border-radius: 0.8em;
  opacity: 0.5;
}
.servicepage__ourstory h3 {
  grid-column: 2 span;
  font-size: 2rem;
  font-weight: bold;
}
.servicepage__ourstory p {
  grid-column: 2 span;
  color: #3a3a3a;
}

.servicepage__servicesdisplay {
  grid-column: 2 span;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.servicepage__servicesdisplay .servicesdisplay__image {
  display: block;
}
.servicepage__servicesdisplay .servicesdisplay__image img {
  height: auto;
  width: 100%;
  margin-bottom: 2em;
}
.servicepage__servicesdisplay .servicesdisplay__image button {
  background-color: #fe7865;
  outline: none;
  border-color: #fe7865;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8em 2em 0.8em 2em;
  border: 1px solid #fe7865;
  margin-bottom: 25px;
}
.servicepage__servicesdisplay .servicesdisplay__image button:hover {
  border: 1px solid;
  border-color: #fe7865;
  color: #fe7865;
  background-color: white;
  transition: 0.3s ease-in;
}
.servicepage__servicesdisplay .servicesdisplay__servicelist {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 25px;
}
.servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription {
  width: 250px;
  height: 250px;
  text-align: center;
  border: 1px solid gainsboro;
  background-color: white;
  color: #3a3a3a;
  padding: 1em;
}
.servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription i {
  color: #fe7865;
  font-size: 56px;
}
.servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription h5 {
  font-size: 19px;
  color: #fe7865;
}
.servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(2) {
  transform: translateY(8%);
}
.servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(4) {
  transform: translateY(8%);
}

@media (min-width: 1096px) and (max-width: 1150px) {
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription {
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid gainsboro;
    background-color: white;
    color: #777777;
    padding: 1em;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription i {
    color: #fe7865;
    font-size: 56px;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription h5 {
    font-size: 19px;
    color: #fe7865;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(2) {
    transform: translateY(8%);
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(4) {
    transform: translateY(8%);
  }
}
@media (min-width: 767px) and (max-width: 1096px) {
  .servicepage__servicesdisplay .servicesdisplay__servicelist {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 25px;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .servicepage__servicesdisplay .servicesdisplay__servicelist {
    width: 450px;
    margin: auto;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription {
    width: 100%;
    margin: 10px;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(2) {
    transform: translateY(0);
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(4) {
    transform: translateY(0);
  }
}
@media (max-width: 575px) {
  .servicepage__servicesdisplay .servicesdisplay__servicelist {
    display: block;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription {
    width: 100%;
    margin: 10px;
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(2) {
    transform: translateY(0);
  }
  .servicepage__servicesdisplay .servicesdisplay__servicelist .servicesdescription:nth-child(4) {
    transform: translateY(0);
  }
}
.team__wrapper {
  margin: auto;
  padding: 20px;
  max-width: 1170px;
  height: -moz-max-content;
  height: max-content;
}
.team__wrapper .team__info {
  text-align: center;
}
.team__wrapper .team__info h3 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.team__wrapper .team__info p {
  color: #777777;
  line-height: 25px;
  text-justify: distribute;
}
.team__wrapper .team__photos {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}
.team__wrapper .team__photos .team__individual {
  text-align: center;
  padding: 15px;
  background-color: white;
  border: 1px solid white;
  margin: 5px;
  height: 300px;
  width: 250px;
  transition: 0.6s ease-out;
  -o-object-fit: contain;
     object-fit: contain;
}
.team__wrapper .team__photos .team__individual img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 20px 0 20px 0;
  vertical-align: middle;
}
.team__wrapper .team__photos .team__individual h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.team__wrapper .team__photos .team__individual span {
  font-weight: bold;
  color: #777777;
}
.team__wrapper .team__photos .team__individual ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffe8e5;
  border: 1px solid #fe7865;
  padding: 10px;
  border-radius: 25px;
  color: #777777;
  margin-top: 15px;
}
.team__wrapper .team__photos .team__individual:hover {
  border: 1px solid #fe7865;
  box-shadow: 0 0 5px #fe7865;
  transition: 0.6s ease-out;
}
.team__wrapper .team__message {
  margin-top: 75px;
  background-image: url("https://images.unsplash.com/photo-1498378520120-901cc2e4547e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin-bottom: 150px;
}
.team__wrapper .team__message .video {
  background-color: white;
  border: 1px solid white;
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 80px;
  position: relative;
  left: 1100px;
  top: -290px;
  border-radius: 50%;
  color: #fe7865;
}
.team__wrapper .team__message .video:hover {
  transition: 0.5s ease-in-out;
  color: white;
  background-color: #fe7865;
}
.team__wrapper .team__message .msg__carousel {
  list-style: none;
  display: flex;
  scroll-behavior: smooth;
  position: relative;
  counter-reset: item;
  top: 150px;
  left: 40px;
}
.team__wrapper .team__message .msg__carousel li {
  position: relative;
  width: 100%;
  height: 100%;
  counter-increment: item;
}
.team__wrapper .team__message .message {
  border: 1px solid #fe7865;
  background-color: #fe7865;
  color: white;
  height: -moz-max-content;
  height: max-content;
  width: 400px;
  text-align: center;
  position: relative;
  top: 150px;
  left: 40px;
  font-size: 35px;
  padding: 10px;
}
.team__wrapper .team__message .message h4 {
  font-size: 20px;
}
.team__wrapper .team__message .message span {
  font-size: 20px;
}
@media screen and (max-width: 625px) {
  .team__wrapper .team__message .team__message .video {
    display: none;
  }
  .team__wrapper .team__message .tb__message {
    left: 20px;
    font-size: 30px;
    width: 300px;
  }
}
@media (max-width: 450px) {
  .team__wrapper .team__message .team__message .video {
    display: none;
  }
  .team__wrapper .team__message .mb__message {
    left: 20px;
    font-size: 20px;
    width: 200px;
  }
}

.portfolio__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.portfolio__wrapper .portfolio__desc {
  display: flex;
  gap: 15%;
  margin: 0 15px;
  padding: 25px 0 0;
}
.portfolio__wrapper .portfolio__desc h2 {
  font-size: 35px;
  font-weight: 600;
  color: #333;
}
.portfolio__wrapper .portfolio__desc p {
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
  font-weight: 400;
  margin: 0;
}
.portfolio__wrapper .portfolio__image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 745px;
  padding: 0 15px;
  position: relative;
  margin-top: 65px;
}
.portfolio__wrapper .portfolio__image .portfolio__arrow {
  position: absolute;
  width: 70px;
  display: flex;
  justify-content: space-between;
}
.portfolio__wrapper .portfolio__image .portfolio_banner img {
  width: 100%;
  height: auto;
}
.portfolio__wrapper .portfolio__image .portfolio_preview {
  position: absolute;
  top: 650px;
}

.contact {
  max-width: 1170px;
}
.contact .contact__slogan {
  text-align: center;
}
.contact .contact__form .form__details {
  width: 100%;
  justify-content: space-between;
}
.contact .contact__form .form__details input {
  width: 100%;
  background-color: white;
  border: 1px solid #bdbaba;
  outline: none;
}
.contact .contact__form .form__message textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: #eeeeee;
  border: 1px solid #bdbaba;
  outline: none;
  margin-bottom: 20px;
}
.contact .contact__form button {
  background-color: #fe7865;
  outline: none;
  border-color: #fe7865;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 20px;
  border: 1px solid #fe7865;
  margin-bottom: 25px;
  transition: 0.3s ease-in;
}
.contact .contact__form button:hover {
  border: 1px solid;
  border-color: #fe7865;
  color: #fe7865;
  background-color: white;
  transition: 0.3s ease-in;
}

@media (max-width: 960px) {
  .contact {
    padding-top: 70px;
  }
  .contact .contact__slogan h3 {
    font-size: 65px;
    font-weight: 600;
    color: #333;
  }
  .contact .contact__box {
    margin-top: 70px;
  }
  .contact .contact__box .contact__info {
    padding: 0 20px 20px;
  }
  .contact .contact__box .contact__info h4 {
    font-size: 26px;
    font-weight: 600;
    padding: 0 0 5px;
  }
  .contact .contact__box .contact__info p {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 400;
  }
  .contact .contact__box .contact__info p span {
    font-size: 20px;
    color: #fe7865;
    margin-right: 10px;
  }
  .contact .contact__box .contact__form {
    padding: 0 20px 20px;
  }
  .contact .contact__box .contact__form .form__details input {
    padding: 8px 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .contact .contact__slogan h3 {
    font-size: 35px;
    font-weight: 600;
  }
}
@media (min-width: 960px) {
  .contact {
    margin: 0 auto;
  }
  .contact .contact__slogan {
    text-align: center;
    text-justify: center;
    padding: 10px;
    margin-bottom: 50px;
  }
  .contact .contact__slogan h3 {
    font-size: 60px;
    color: #333;
  }
  .contact .contact__box {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    box-shadow: 0 0 3px #3a3a3a;
  }
  .contact .contact__box .contact__info {
    padding: 20px;
    line-height: 50px;
    align-self: start;
  }
  .contact .contact__box .contact__info h4 {
    font-size: 30px;
    font-weight: 600;
  }
  .contact .contact__box .contact__info span {
    color: #fe7865;
    font-size: 20px;
    margin-right: 22px;
  }
  .contact .contact__box .contact__info p {
    color: #3a3a3a;
    font-size: 20px;
  }
  .contact .contact__box .contact__form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    align-self: center;
  }
  .contact .contact__box .contact__form form .form__details {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact .contact__box .contact__form form .form__details input {
    width: 45%;
    font-size: 18px;
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #bdb6b6;
    outline: none;
    margin: 0 25px 25px 0;
  }
  .contact .contact__box .contact__form form .form__details input:nth-child(2) {
    margin: 0 0 25px 0;
  }
  .contact .contact__box .contact__form form .form__message {
    grid-column: span 2;
  }
  .contact .contact__box .contact__form form .form__message textarea {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #bdbaba;
    outline: none;
    margin-bottom: 25px;
  }
  .contact .contact__box .contact__form form button {
    background-color: #fe7865;
    outline: none;
    border-color: #fe7865;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8em 2em 0.8em 2em;
    border: 1px solid #fe7865;
    margin-bottom: 8px;
  }
  .contact .contact__box .contact__form form button:hover {
    border: 1px solid;
    border-color: #fe7865;
    color: #fe7865;
    background-color: white;
    transition: 0.3s ease-in;
  }
}/*# sourceMappingURL=index.css.map */