.nav_container {
  max-width: 1170px;
  margin: 0 auto;
}

.navbar__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 130px;

  .nav_list {
    display: flex;
    li {
      a {
        display: block;
        padding: 10px 15px;
        color: #777777;
        font-weight: 600;
      }
    }
  }

  .mobile_menu {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  // .logo {
  //   margin-left: 2rem;

  //   img {
  //     max-width: 100%;
  //     &:hover {
  //       cursor: pointer;
  //     }
  //   }
  // }
  // .nav__menu {
  //   display: grid;
  //   grid-template-columns: repeat(7, 1fr);
  //   // margin: 0 0 0.3rem 12rem;
  //   li {
  //     margin: 1rem;
  //     font-size: 16px;
  //     font-weight: 600;
  //     a {
  //       color: black;
  //       &:hover {
  //         color: #fe7865;
  //       }
  //       &.active {
  //         color: #fe7865;
  //       }
  //     }
  //   }
  // }
}
.hamburger {
  display: none;
}

@media (max-width: 1199px) {
  // for desktop and above
}

// @media screen and (max-width: 991px) and (min-width: 481px) {
//   .navbar__main {
//     // margin: -1rem auto;
//     .logo__img {
//       position: absolute;
//       left: 3%;
//     }
//     .nav__menubar {
//       position: absolute;
//       top: 10%;
//       background: #f8f8f8;
//       left: 13%;
//       width: 75%;
//       transition: 0.3s ease in;
//       padding: 10px;
//       li {
//         padding: 1rem 0;
//         font-size: 1rem;
//         a {
//           text-decoration: none;
//           &:hover {
//             color: #fe7865;
//           }
//           &.active {
//             color: #fe7865;
//           }
//         }
//       }
//     }
//     .nav__menu {
//       //    visibility: hidden;
//       display: none;
//     }
//   }
//   .hamburger {
//     position: absolute;
//     right: 60px;
//     top: 4%;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//   }
// }
// @media screen and (max-width: 480px) {
//   .navbar__main {
//     width: 75%;
//     // border: 1px solid black;
//     .nav__menubar {
//       position: absolute;
//       top: 10%;
//       background: #f8f8f8;
//       left: 13%;
//       width: 75%;
//       transition: 0.3s ease in;
//       padding: 10px;
//       li {
//         padding: 0.3rem 0;
//       }
//     }
//     .logo__img {
//       display: block;
//       width: 50rem;
//       margin-left: 25px;
//       .img {
//       }
//     }
//   }
//   .nav__menu {
//     visibility: hidden;
//   }
//   .hamburger {
//     display: block;
//     position: absolute;
//     left: 24rem;
//     top: 2rem;
//     cursor: pointer;
//   }
// }
