.navbar__main {
  height: 80%;
  width: 100%;
  margin: auto;
  display: grid;
  z-index: auto;
  // grid-template-columns: 4fr 8fr;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1rem;
  // top: 0;
  // left: 0;
  .logo__img {
    margin-left: 2rem;

    img {
      max-width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .nav__menu {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // margin: 0 0 0.3rem 12rem;
    li {
      list-style-type: none;
      margin: 1rem;
      font-size: 16px;
      font-weight: 600;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          color: #fe7865;
        }
        &.active {
          color: #fe7865;
        }
      }
    }
  }
}
.hamburger {
  display: none;
}

@media screen and (max-width: 991px) and (min-width: 481px) {
  .navbar__main {
    // margin: -1rem auto;
    .logo__img {
      position: absolute;
      left: 15%;
    }
    .nav__menubar {
      position: absolute;
      top: 10%;
      background: #f8f8f8;
      left: 13%;
      width: 75%;
      transition: 0.3s ease in;
      padding: 10px;
      li {
        list-style-type: none;
        padding: 1rem 0;
        font-size: 1rem;
        // border:1px dashed #fe7865;
        a {
          text-decoration: none;
          &:hover {
            color: #fe7865;
          }
          &.active {
            color: #fe7865;
          }
        }
      }
    }
    .nav__menu {
      //    visibility: hidden;
      display: none;
    }
  }
  .hamburger {
    position: absolute;
    right: 15%;
    top: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .navbar__main {
    width: 75%;
    // border: 1px solid black;
    .nav__menubar {
      position: absolute;
      top: 10%;
      background: #f8f8f8;
      left: 13%;
      width: 75%;
      transition: 0.3s ease in;
      padding: 10px;
      li {
        padding: 0.3rem 0;
      }
    }
    .logo__img {
      width: 100%;
      .img {
      }
    }
  }
  .nav__menu {
    visibility: hidden;
  }
  .hamburger {
    display: block;
    position: absolute;
    left: 24rem;
    top: 2rem;
    cursor: pointer;
  }
}
