.portfolio__wrapper{
    margin: 48px;
    width: auto;
    height: auto;
    background-color: aliceblue;
    .portfolio__desc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header paragraph";
        grid-gap:10px;
        // border: 1px solid black;
        margin: 0 11rem;
        h1{ 
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:45px;
            font-weight: 600;
            grid-area: header;
            // border: 1px solid black;
        }
        p{
            grid-area: paragraph;
            display: block;
            justify-content: center;
            font-size: 16px;
            line-height: 24px;
            color: #777;
            font-weight: 400;
            // border: 1px solid black;
        }
    }
    .portfolio__image{
        display: inline-block;
        margin-top: 3em;
        margin-left: 150px;
    }
}