@import "../abstracts/variables";

.footer__section {
  max-width: $container_width;
  margin-top: 40px ;
  background-color: $background-color1;
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 22px;
  // padding-top: 40px;
  .section__part {
    margin: 15px;
    padding-top: 20px;
    // padding-bottom: 120px;
    line-height: 2;
    li {
      h3 {
        color: $font_color2;
        font-weight: 600;
      }
      font-weight: 400;
      color: $font_color1;
    }
    .icons {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(3, 50px);
      a {
        background-color: $background-color;
        border-radius: 40%;
        display: inline-block;
        width: 48px;
        height: 48px;
        display: grid;
        align-content: center;
        justify-content: center;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .footer__section {
    margin: 30px auto;
    width: 760px;
    padding: 30px;
    grid-template-columns: repeat(2, 1fr);
    .tablet__part {
      line-height: 2.5;
    }
  }
}
@media screen and (max-width: 767px) {
  .footer__section {
    width: 90%;
    margin: 20px;
    padding: 30px;
    grid-template-columns: 1fr;
  }
}
// @media screen and (max-width:842px) and (min-width:580px){
//     .footer__section{
//         overflow: hidden;
//         grid-template-columns: repeat(2,1fr);
//         padding: 0 10px;

//     }
// }

// @media screen and (max-width:579px) and (min-width:390px){
//     .footer__section{
//         grid-template-columns: 1fr;
//         width: fit-content;
//         .mb__part{
//             margin: 10px;
//             border-bottom: 1px solid #b9b6b6;
//             .icons{
//                 margin-top:5px;
//                 padding: 10px;
//             }
//         }
//     }

// }
