// @import "../abstracts/variables";
.nav_container {
  // max-width: $container_width;
  margin: 0 auto 40px auto;
  position: sticky;
  top: 0;
  // background-color: $background-color;
  z-index: 9999;
  // box-shadow: 0 0 2px white;
}
.navbar__main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 130px;

  .nav_list {
    display: flex;
    li {
      a {
        display: block;
        padding: 10px 15px;
        color: $font_color1;
        font-weight: 600;

        &:hover {
          color: $primary_color;
        }
        &.active {
          color: $primary_color;
        }
      }
    }
  }

  .mobile_menu {
    display: none;
  }
  .hamburger {
    display: none;
  }

  @media screen and (max-width: 991px) {
    .nav__menubar {
      position: absolute;
      top: 70%;
      background: $background-color;
      left: 13%;
      width: 75%;
      li {
        font-size: 1rem;
        a {
          &:hover {
            color: $primary_color;
          }
        }
      }
    }
    .nav__menu {
      display: none;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      margin-right: 70px;
    }
    .nav_list {
      flex-direction: column;
    }
    .logo {
      margin-left: 120px;
    }
  }
  @media screen and (max-width: 767px) {
    .logo {
      margin-left: 70px;
    }
    .hamburger {
      margin-right: 45px;
    }
  }
}
