$container_width: 1170px;
$primary_color: #fe7865;
$font_color1:#777777;
$font_color2:#333;
$font_color3:#fff;
$background-color: white;
$background-color1:#f7f7ff ;

$general_lineheight:1.5;
$general_padding: 20px;
$general_margin: 48px;
$grid_gap:20px;