// .container__home{
//     display: grid;
//     z-index: -1;
//     position: relative;
//     margin: 48px;
//     height: fit-content;
//     overflow: hidden;
//     grid-template-columns: 45% 55%;
//     grid-template-areas: "banner description" ;
//     grid-gap: 3.5rem ;
//     align-items: center;
//     background-color:#faf2f2;

//     .image{
//         grid-area: banner;
//         img{
//             width: 105%;
//             height: 450px;
//         }
//     }
//     .banner__circle{
//         position: relative;
//         background-color: #fe7865;
//         border-radius: 2em;
//         width: 15%;
//         top: -25em;
//         left: 30em;
//         margin-left: 9em;
//         padding: 1rem;
//           p {
//             color: white;
//             margin-left: -0.5em;
//           }
//     }
//     .banner__desc{
//         position: absolute;
//         left: 52%;
//         p{
//             width: 30em;
//             // border: 1px solid black;
//         }
//         h1{
//             margin-bottom: 1.5rem;
//             font-size: 48px;
//             font-weight: 600;
//             span{
//                 position: relative;
//                 &::after{
//                     position: absolute;
//                     width: 100%;
//                     height: 6px;
//                     bottom: 8px;
//                     content: '';
//                     left: 0;
//                     z-index: auto;
//                     border-bottom: 10px solid rgba(254,120,101,.5);
//                 }
//             }
//         }
//         .social-media{
//             display: grid;
//             grid-template-columns: repeat(3,1fr);
//             width: 20%;
//             margin: 1em;
//         }
//         button{
//             font-size: 16px;
//             margin: 1.5rem auto;
//             padding: 1rem;
//             border: 1px solid #fe7865;
//             background-color: #fe7865;
//             text-align: center;
//             transition: all .4s ease-out 0s;
//             color: $font_color3;
//             font-weight: 500;
//             &:hover{
//                 background-color: $font_color3;
//                 transition: 0.3s ease-in;
//                 color:#fe7865; ;
//             }
//         }
//     }
// }
// @media screen and (max-width:1100px){
//     .banner__circle{
//         left: 18em;
//     }
// }
@import "../abstracts/variables";


.hero_section {
  max-width: $container_width;
  display: flex;
  gap: 15%;

  .banner_section {
    width: 50%;
    // position: relative;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    .banner__circle {
      position: relative;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      background-color: $primary_color;
      top: -80%;
      left: 90%;
      // right: -50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        display: block;
        color: $font_color3;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
  .banner_desc {
    h1 {
      font-size: 92px;
      font-weight: 600;
      color: $font_color2;      
    }
    p {
      font-size: 16px;
      margin: 0 0 25px;
      color: $font_color1;
      line-height: 24px;
    }
    .social_media{
      ul{
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 50px);
        a{
            background-color: rgb(214, 214, 214);
            border-radius: 40%;
            display: inline-block;
            width: 30px;
            height: 30px;
            display: grid;
            align-content: center;
            justify-content: center;
            &:hover{
                cursor: pointer;
            }
        }
      }
    }
  }
}
@media screen and (max-width:991px) {   
  .hero_section{
    padding: 25px;
  
  .banner_section{
    img{
      display: block;
      max-width: 100%;
    }
  }
  .banner_desc{
    h1{
      font-size: 75px;
    }
  }  
}
}
@media screen and (max-width:767px) {
  .hero_section{
    
    .banner_section{
      display: none;    
    }
    .banner_desc{
      justify-content: center;
      h1{
        font-size: 45px;
      }
      p{
        font-size: 1rem;
      }
    }
  }
  }
  @media screen and (max-width:512px) {
    .banner_desc{
      padding: 1rem;
      h1{
        font-size: 35px;
      }
    }
  }
  

