
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto&display=swap%27");
@import "../abstracts/variables";


.productpage__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: $container_width;
  gap: 22px;
  .productpage__collection {
    width: 280px;    
    margin-bottom: 25px;
    h4 {
      background-color: $background-color1;
      padding: 16px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    .productpage__collectionlist {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      line-height: 58px;
      a {
        text-decoration: none;
        border: 1px solid gainsboro;
        list-style: none;
        font-size: 20px;
        font-weight: 600;
        color: #777777;
        width: 100%;
        height: 60px;
        &:focus {
          color: $background-color;
          background-color:$primary_color;
          border-color: $primary_color;
        }
      }
    }
  }

  .productpage__images {
    display: flex;
    align-items: start;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 35px;
    .productpage__singleImage {
      .product__image {
        width: 260px;
        height: 300px;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          transition: transform 0.5s ease;
          &:hover {
            transform: scale(1.2);
            cursor: pointer;
            transition: transform 0.5s ease;
          }
        }
        .discount__badge {
          position: absolute;
          background-color: $primary_color;
          top: 10px;
          border-radius: 100%;
          height: 50px;
          width: 50px;
          text-align: center;
          left: 200px;
          right: 10px;
          p {
            color: $background-color;
            font-size: 15px;
            margin-left: 0;
            margin-top: 13px;
            font-weight: bold;
          }
        }
      }

      h5 {
        font-size: 1.1rem;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        color:$primary_color;
      }
      span {
        color: $primary_color;
        font-weight: bold;
      }
    }
  }
}
@media (min-width: 600px) and (max-width: 1135px) {
  .productpage__wrapper {
    justify-content: center;
  }
  .productpage__images {
    .productpage__singleImage {
      &:last-child {
        display: none;
      }
    }
  }
}
//mobile view
@media (max-width: 600px) {
  .productpage__wrapper {
    display: block;
    margin-top: 20px;
    padding: 0;
    margin: 0;
    margin-top: 70px;
    .productpage__collection {
      width: 100%;
      padding: 0px 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .productpage__images {
      width: 100%;
      padding: 0;
      .productpage__singleImage {
        width: 100%;
        padding: 0px 20px;
        .product__image {
          width: 100%;
          height: auto;
          position: relative;
          img {
            width: 100%;
          }
          .discount__badge {
            position: absolute;
            background-color: $primary_color;
            top: 10px;
            border-radius: 100%;
            height: 80px;
            width: 80px;
            text-align: center;
            left: 200px;
            p {
              color: $background-color;
              font-size: 20px;
              margin-left: 0;
              margin-top: 15px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
