
// @import "../abstracts/variables";
.servicespage__wrapper {
  background-color: #fffaf6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  // margin: 48px;
  max-width: $container_width;
}
.servicepage__ourstory {
  grid-column: 2 span;
  margin-bottom: 4em;
  display: grid;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  h5 {
    grid-column: 2 span;
    color: $primary-color;
    margin-left: 8em;
    font-size: 1rem;
    font-weight: bold;
    &::before {
      content: " ";
      display: block;
      height: 0.1em;
      width: 8em;
      position: relative;
      top: 0.9em;
      left: -8em;
      background: $primary-color;
      border-radius: 0.8em;
      opacity: 0.5;
    }
  }
  h3 {
    grid-column: 2 span;
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    grid-column: 2 span;
    color: $font_color1;
  }
}
.servicepage__servicesdisplay {
  grid-column: 2 span;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  .servicesdisplay__image {
    display: block;
    img {
      height: auto;
      width: 100%;
      margin-bottom: 2em;
    }
    button {
      background-color: $primary-color;
      outline: none;
      border-color: $primary-color;
      color: $background_color;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.8em 2em 0.8em 2em;
      border: 1px solid $primary-color;
      margin-bottom: 25px;
      &:hover {
        border: 1px solid;
        border-color: $primary_color;
        color: $primary-color;
        background-color: $background_color;
        transition: 0.3s ease-in;
      }
    }
  }
  .servicesdisplay__servicelist {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    .servicesdescription {
      width: 250px;
      height: 250px;
      text-align: center;
      border: 1px solid gainsboro;
      background-color: $background_color;
      color: $font_color1;
      padding: 1em;
      i {
        color: $primary-color;
        font-size: 56px;
      }
      h5 {
        font-size: 19px;
        color: $primary-color;
      }
      &:nth-child(2) {
        transform: translateY(8%);
      }
      &:nth-child(4) {
        transform: translateY(8%);
      }
    }
  }
}
@media (min-width: 1096px) and (max-width: 1150px) {
  .servicepage__servicesdisplay {
    .servicesdisplay__servicelist {
      .servicesdescription {
        width: 200px;
        height: 200px;
        text-align: center;
        border: 1px solid gainsboro;
        background-color: white;
        color: #777777;
        padding: 1em;
        i {
          color: $primary-color;
          font-size: 56px;
        }
        h5 {
          font-size: 19px;
          color: $primary-color;
        }
        &:nth-child(2) {
          transform: translateY(8%);
        }
        &:nth-child(4) {
          transform: translateY(8%);
        }
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 1096px) {
  .servicepage__servicesdisplay {
    .servicesdisplay__servicelist {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      gap: 25px;
    }
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .servicepage__servicesdisplay {
    .servicesdisplay__servicelist {
      width: 450px;
      margin: auto;
      .servicesdescription {
        width: 100%;
        margin: 10px;
        &:nth-child(2) {
          transform: translateY(0);
        }
        &:nth-child(4) {
          transform: translateY(0);
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .servicepage__servicesdisplay {
    .servicesdisplay__servicelist {
      display: block;
      .servicesdescription {
        width: 100%;
        margin: 10px;
        &:nth-child(2) {
          transform: translateY(0);
        }
        &:nth-child(4) {
          transform: translateY(0);
        }
      }
    }
  }
}
